.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#letters {
    text-align: center;
    padding: 5px 0;
    margin-bottom: 15px;
}

#letters a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
}

.word {
    font-size: 14px;
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
}